/*Diseño de la tabla**/

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: aside; }
.item4 { grid-area: section;}

.grid-container {
    display: grid;
    grid-template-areas:
      'menu menu header header header header'
      'section section aside aside aside aside'
      'section section aside aside aside aside';

    gap: 10px;
    background-color: #3ffa06;
    padding: 30px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }